In [ ]:
from google.colab import drive
drive.mount('/content/drive')

Mounted at /content/drive

In [ ]:
import pandas as pd
from pandas import DataFrame

In [ ]:
iris=pd.read_csv('/content/drive/MyDrive/iris.csv')
iris

     sepal.length  sepal.width  petal.length  petal.width    variety
0             5.1          3.5           1.4          0.2     Setosa
1             4.9          3.0           1.4          0.2     Setosa
2             4.7          3.2           1.3          0.2     Setosa
3             4.6          3.1           1.5          0.2     Setosa
4             5.0          3.6           1.4          0.2     Setosa
..            ...          ...           ...          ...        ...
145           6.7          3.0           5.2          2.3  Virginica
146           6.3          2.5           5.0          1.9  Virginica
147           6.5          3.0           5.2          2.0  Virginica
148           6.2          3.4           5.4          2.3  Virginica
149           5.9          3.0           5.1          1.8  Virginica

[150 rows x 5 columns]

In [ ]:
iris.shape

(150, 5)

In [ ]:
iris.shape[0]

150

In [ ]:
iris.shape[1]

5

In [ ]:
len(iris)

150

In [ ]:
avg=iris['petal.length'].mean()
print('avg of petal length',avg)

avg of petal length 3.7580000000000005

In [ ]:
print('avg of petal length',iris['sepal.length'].mean())
print('avg of petal length',iris['sepal.width'].mean())
print('avg of petal length',iris['petal.width'].mean())

avg of petal length 5.843333333333334
avg of petal length 3.0573333333333337
avg of petal length 1.1993333333333336

In [ ]:
from pandas.api.types import is_numeric_dtype
for col in iris.columns:
  if is_numeric_dtype(iris[col]):
    print('%s:' %(col))
    print('standard diviation.%2f'% iris[col].std())

sepal.length:
standard diviation.0.828066
sepal.width:
standard diviation.0.435866
petal.length:
standard diviation.1.765298
petal.width:
standard diviation.0.762238

In [ ]:
print(iris['petal.length']>50%(avg))

0      True
1      True
2      True
3      True
4      True
       ...
145    True
146    True
147    True
148    True
149    True
Name: petal.length, Length: 150, dtype: bool